.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  .username-icon {
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 10px;
  }
  
  