<mat-toolbar style="background-color: rgb(162, 164, 179);">
  <mat-toolbar-row>
    <span >MovieBookingApp</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/movies">Movies</button>
    <button mat-button *ngIf="isAdmin" routerLink="/addmovie">Add Movie</button>
    <button mat-button routerLink="/viewtickets">View Transactions</button>
    <span class="username-icon">
      <mat-icon>person</mat-icon>
      <span style="font-size: 15px;margin-top: 8px;" >{{ username }}</span>
    </span>
    <button mat-button (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>