.seats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .seat-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .row-label {
    margin-right: 10px;
  }
  
  .seat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: lightgray;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .booked {
    background-color: red;
    cursor: not-allowed;
  }
  
  .red {
    color: red;
  }
  .spacer {
    margin-left: 20px;
  }
  .edit-container {
    display: flex;
    align-items: center;
  }
  
  .edit-input {
    width: 50px;
    margin-right: 10px;
  }
  
  .ok-icon{
    cursor: pointer;
    font-weight: bolder;
    color: green;
  }
  .cancel-icon {
    cursor: pointer;
    font-weight: bolder;
    color: red;
  }
  
  .spacer {
    display: inline-block;
    width: 8px;
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  mat-card-header {
    display: block;
    padding: 50px;
    text-align: center;
    font-weight: bolder;
    /* color: white;
    background-color: #333545; */
  }
  
  .card-header{
    color: white;
    font-size: medium;
  }